.indicator {
    background: #B31312;
    position: relative;
    top: -50px;
    left: 29%;
    height: 5px;
    width: 100px;
    transform-origin: 100% 50%;
    border-radius: 5px;
}

svg {
    position: relative;
    top: 50px
}

.label {
    position: relative;
    font-size: 25px;
    z-index: 20;
    bottom: 20px;
}